
// Links
LINK_COLOR =              #08c
LINK_COLOR_HOVER =        darken(LINK_COLOR, 15%)

// Grays
BLACK =                 #000
GRAYDARKER =            #222
GRAYDARK =              #333
GRAY =                  #555
GRAYLIGHT =             #999
GRAYLIGHTER =           #eee
WHITE =                 #fff

// Accent colors
BLUE =                  #049cdb
BLUEDARK =              #0064cd
GREEN =                 #46a546
RED =                   #9d261d
YELLOW =                #ffc40d
ORANGE =                #f89406
PINK =                  #c3325f
PURPLE =                #7a43b6

// Typography
BASE_FONT_SIZE =          13px
BASE_FONT_FAMILY =        "Helvetica Neue", Helvetica, Arial, sans-serif
BASE_LINE_HEIGHT =        18px
TEXT_COLOR =              GRAYDARK

// Buttons
PRIMARY_BUTTON_BACKGROUND =    LINK_COLOR

// Z-index master list
ZINDEX_DROPDOWN =        1000
ZINDEX_POPOVER =         1010
ZINDEX_TOOLTIP =         1020
ZINDEX_FIXED_NAVBAR =    1030
ZINDEX_MODAL_BACKDROP =  1040
ZINDEX_MODAL =           1050

// Input placeholder text color
PLACEHOLDER_TEXT =       GRAYLIGHT

// Hr border color
HRBORDER =               GRAYLIGHTER

// Navbar
NAVBAR_HEIGHT =                    40px
NAVBAR_BACKGROUND =                GRAYDARKER
NAVBAR_BACKGROUND_HIGHLIGHT =      GRAYDARK

NAVBAR_TEXT =                      GRAYLIGHT
NAVBAR_LINK_COLOR =                GRAYLIGHT
NAVBAR_LINK_COLOR_HOVER =          WHITE

// Form states and alerts
WARNING_TEXT =             #c09853
WARNING_BACKGROUND =       #fcf8e3
WARNING_BORDER =           darken(spin(WARNING_BACKGROUND, -10), 3%)

ERROR_TEXT =               #b94a48
ERROR_BACKGROUND =         #f2dede
ERROR_BORDER =             darken(spin(ERROR_BACKGROUND, -10), 3%)

SUCCESS_TEXT =             #468847
SUCCESS_BACKGROUND =       #dff0d8
SUCCESS_BORDER =           darken(spin(SUCCESS_BACKGROUND, -10), 5%)

INFO_TEXT =                #3a87ad
INFO_BACKGROUND =          #d9edf7
INFO_BORDER =              darken(spin(INFO_BACKGROUND, -10), 7%)



// GRID

// Default 940px grid
GRID_COLUMNS =             12
GRID_COLUMN_WIDTH =        40px
GRID_GUTTER_WIDTH =        20px
GRID_ROW_WIDTH =           (GRID_COLUMNS * GRID_COLUMN_WIDTH) + (GRID_GUTTER_WIDTH * (GRID_COLUMNS - 1))

// Fluid grid
FLUID_GRID_COLUMN_WIDTH =  6.382978723%
FLUID_GRID_GUTTER_WIDTH =  2.127659574%

// Vendor prefixes for gradients
VENDOR_PREFIXES = webkit moz o ms official
