// FIXED

generate-fixed($gridColumns, $gridColumnWidth, $gridGutterWidth)
  .row
    margin-left: $gridGutterWidth * -1
    clearfix()

  [class*="span"]
    float: left
    margin-left: $gridGutterWidth

  for $i in 1..12
    .span{$i}
      width: ($gridColumnWidth * $i) + ($gridGutterWidth * ($i - 1))

  for $i in 1..11
    .offset{$i}
      margin-left: ($gridColumnWidth * $i) + ($gridGutterWidth * ($i - 1)) + ($gridGutterWidth * 2)

// FLUID

generate-fluid($gridColumns, $fluidGridColumnWidth, $fluidGridGutterWidth)
  .row-fluid
    width: 100%
    clearfix()

    [class*="span"]
      float: left
      margin-left: $fluidGridGutterWidth

    [class*="span"]:first-child
      margin-left: 0

    for $i in 1..12
      .span{$i}
        fluid-columns($fluidGridGutterWidth, $fluidGridColumnWidth, $i)
        width: 1% * ($fluidGridColumnWidth * $i) + ($fluidGridGutterWidth * ($i - 1))

// INPUT

generate-input($gridColumns, $gridColumnWidth, $gridGutterWidth)
  input,
  textarea,
  .uneditable-input
    for $i in 1..12
      &.span{$i}
        width: (($gridColumnWidth) * $i) + ($gridGutterWidth * ($i - 1)) - 10

makeRow()
  margin-left: GRID_GUTTER_WIDTH * -1
  clearfix()

makeColumn($columns = 1)
  float: left
  margin-left: GRID_GUTTER_WIDTH
  width: (GRID_COLUMN_WIDTH * $columns) + (GRID_GUTTER_WIDTH * ($columns - 1))

// GENERATE
   
generate-fixed(GRID_COLUMNS, GRID_COLUMN_WIDTH, GRID_GUTTER_WIDTH)
generate-fluid(GRID_COLUMNS, FLUID_GRID_COLUMN_WIDTH, FLUID_GRID_GUTTER_WIDTH)