@import 'defaults'
@import "reset"
@import "mixins"
@import "layouts"
@import "grid"
@import "type"
@import "navs"
@import "tables"
@import "utils"

body
  margin: 0
  font-family: BASE_FONT_FAMILY
  font-size: BASE_FONT_SIZE
  line-height: BASE_LINE_HEIGHT
  color: TEXT_COLOR
  background-color: white

// LINKS

a
  color: LINK_COLOR
  text-decoration: none

a:hover
  color: LINK_COLOR_HOVER
  text-decoration: underline