navs-base()
  padding: 0
  margin: 0
  li
    cursor: pointer
    user-select: none

toolbar()
  navs-base()
  li
    display: inline-block
    padding: 0 10px
    color: WHITE
    line-height: TOOLBAR_HEIGHT
    background: GRAYDARK
    &:hover
      background: GRAY
    &.active
      background: lighten(GRAY,20%)
  
sidebar()
  navs-base()
  background: GRAYLIGHT
  li
    display: block
    padding-left: 10px
    line-height: 2em
    &.active
      background: lighten(GRAYLIGHT,50%)
    &:hover
      background: darken(GRAYLIGHT,20%)