animation()
  -moz-animation: arguments
  -webkit-animation: arguments

animation-delay()
  -moz-animation-delay: arguments
  -webkit-animation-delay: arguments

animation-direction()
  -moz-animation-direction: arguments
  -webkit-animation-direction: arguments

animation-duration()
  -moz-animation-duration: arguments
  -webkit-animation-duration: arguments

animation-fill-mode()
  -moz-animation-fill-mode: arguments
  -webkit-animation-fill-mode: arguments

animation-iteration-count()
  -moz-animation-iteration-count: arguments
  -webkit-animation-iteration-count: arguments

animation-name()
  -moz-animation-name: arguments
  -webkit-animation-name: arguments

animation-play-state()
  -moz-animation-play-state: arguments
  -webkit-animation-play-state: arguments

animation-timing-function()
  -moz-animation-timing-function: arguments
  -webkit-animation-timing-function: arguments

appearance()
  -moz-appearance: arguments
  -webkit-appearance: arguments

backface-visibility()
  -moz-backface-visibility: arguments
  -webkit-backface-visibility: arguments

background-clip()
  background-clip: arguments
  -webkit-background-clip: arguments

background-origin()
  background-origin: arguments
  -webkit-background-origin: arguments

background-size()
  background-size: arguments
  -webkit-background-size: arguments

border-after()
  -webkit-border-after: arguments

border-after-color()
  -webkit-border-after-color: arguments

border-after-style()
  -webkit-border-after-style: arguments

border-after-width()
  -webkit-border-after-width: arguments

border-before()
  -webkit-border-before: arguments

border-before-color()
  -webkit-border-before-color: arguments

border-before-style()
  -webkit-border-before-style: arguments

border-before-width()
  -webkit-border-before-width: arguments

border-bottom-left-radius()
  border-bottom-left-radius: arguments
  -webkit-border-bottom-left-radius: arguments

border-bottom-right-radius()
  border-bottom-right-radius: arguments
  -webkit-border-bottom-right-radius: arguments

border-end()
  -moz-border-end: arguments
  -webkit-border-end: arguments

border-end-color()
  -moz-border-end-color: arguments
  -webkit-border-end-color: arguments

border-end-style()
  -moz-border-end-style: arguments
  -webkit-border-end-style: arguments

border-end-width()
  -moz-border-end-width: arguments
  -webkit-border-end-width: arguments

border-image()
  -moz-border-image: arguments
  -webkit-border-image: arguments
  -o-border-image: arguments

border-image-outset()
  -moz-border-image-outset: arguments
  border-image-outset: arguments

border-image-repeat()
  -moz-border-image-repeat: arguments
  border-image-repeat: arguments

border-image-slice()
  -moz-border-image-slice: arguments
  border-image-slice: arguments

border-image-source()
  -moz-border-image-source: arguments
  border-image-source: arguments

border-image-width()
  -moz-border-image-width: arguments
  border-image-width: arguments

border-radius()
  border-radius: arguments
  -webkit-border-radius: arguments

border-start()
  -moz-border-start: arguments
  -webkit-border-start: arguments

border-start-color()
  -moz-border-start-color: arguments
  -webkit-border-start-color: arguments

border-start-style()
  -moz-border-start-style: arguments
  -webkit-border-start-style: arguments

border-start-width()
  -moz-border-start-width: arguments
  -webkit-border-start-width: arguments

border-top-left-radius()
  border-top-left-radius: arguments
  -webkit-border-top-left-radius: arguments

border-top-right-radius()
  border-top-right-radius: arguments
  -webkit-border-top-right-radius: arguments

box-align()
  -moz-box-align: arguments
  -webkit-box-align: arguments
  -ms-box-align: arguments

box-direction()
  -moz-box-direction: arguments
  -webkit-box-direction: arguments
  -ms-box-direction: arguments

box-flex()
  -moz-box-flex: arguments
  -webkit-box-flex: arguments
  -ms-box-flex: arguments

box-flex-group()
  -webkit-box-flex-group: arguments

box-lines()
  -webkit-box-lines: arguments
  -ms-box-lines: arguments

box-ordinal-group()
  -moz-box-ordinal-group: arguments
  -webkit-box-ordinal-group: arguments
  -ms-box-ordinal-group: arguments

box-orient()
  -moz-box-orient: arguments
  -webkit-box-orient: arguments
  -ms-box-orient: arguments

box-pack()
  -moz-box-pack: arguments
  -webkit-box-pack: arguments
  -ms-box-pack: arguments

box-shadow()
  box-shadow: arguments
  -webkit-box-shadow: arguments

box-sizing()
  -moz-box-sizing: arguments
  -webkit-box-sizing: arguments
  box-sizing: arguments

column-count()
  -moz-column-count: arguments
  -webkit-column-count: arguments
  column-count: arguments

column-fill()
  -moz-column-fill: arguments
  column-fill: arguments

column-gap()
  -moz-column-gap: arguments
  -webkit-column-gap: arguments
  column-gap: arguments

column-rule()
  -moz-column-rule: arguments
  -webkit-column-rule: arguments
  column-rule: arguments

column-rule-color()
  -moz-column-rule-color: arguments
  -webkit-column-rule-color: arguments
  column-rule-color: arguments

column-rule-style()
  -moz-column-rule-style: arguments
  -webkit-column-rule-style: arguments
  column-rule-style: arguments

column-rule-width()
  -moz-column-rule-width: arguments
  -webkit-column-rule-width: arguments
  column-rule-width: arguments

column-span()
  -webkit-column-span: arguments
  column-span: arguments

column-width()
  -moz-column-width: arguments
  -webkit-column-width: arguments
  column-width: arguments

columns()
  -moz-columns: arguments
  -webkit-columns: arguments
  columns: arguments

grid-column()
  -ms-grid-column: arguments

grid-column-align()
  -ms-grid-column-align: arguments

grid-column-span()
  -ms-grid-column-span: arguments

grid-columns()
  -webkit-grid-columns: arguments
  -ms-grid-columns: arguments

grid-layer()
  -ms-grid-layer: arguments

grid-row()
  -ms-grid-row: arguments

grid-row-align()
  -ms-grid-row-align: arguments

grid-row-span()
  -ms-grid-row-span: arguments

grid-rows()
  -webkit-grid-rows: arguments
  -ms-grid-rows: arguments

hyphenate-character()
  -webkit-hyphenate-character: arguments

hyphens()
  -moz-hyphens: arguments
  -epub-hyphens: arguments

logical-height()
  -webkit-logical-height: arguments

logical-width()
  -webkit-logical-width: arguments

margin-after()
  -webkit-margin-after: arguments

margin-before()
  -webkit-margin-before: arguments

margin-end()
  -moz-margin-end: arguments
  -webkit-margin-end: arguments

margin-start()
  -moz-margin-start: arguments
  -webkit-margin-start: arguments

marquee-direction()
  -webkit-marquee-direction: arguments

marquee-loop()
  -wap-marquee-loop: arguments

marquee-speed()
  -webkit-marquee-speed: arguments
  -wap-marquee-speed: arguments

marquee-style()
  -webkit-marquee-style: arguments
  -wap-marquee-style: arguments

max-logical-width()
  -webkit-max-logical-width: arguments

min-logical-height()
  -webkit-min-logical-height: arguments

min-logical-width()
  -webkit-min-logical-width: arguments

object-fit()
  -o-object-fit: arguments

object-position()
  -o-object-position: arguments

opacity()
  opacity: arguments
  filter: unquote('e(%("alpha('+$opacity+'=%d)", '+$opacity+'))')

overflow-x()
  overflow-x: arguments
  -ms-overflow-x: arguments

overflow-y()
  overflow-y: arguments
  -ms-overflow-y: arguments

padding-after()
  -webkit-padding-after: arguments

padding-before()
  -webkit-padding-before: arguments

padding-end()
  -moz-padding-end: arguments
  -webkit-padding-end: arguments

padding-start()
  -moz-padding-start: arguments
  -webkit-padding-start: arguments

perspective()
  -moz-perspective: arguments
  -webkit-perspective: arguments

perspective-origin()
  -moz-perspective-origin: arguments
  -webkit-perspective-origin: arguments

text-align-last()
  -moz-text-align-last: arguments
  -ms-text-align-last: arguments

text-autospace()
  -ms-text-autospace: arguments

text-justify()
  -ms-text-justify: arguments

text-overflow()
  text-overflow: arguments
  -ms-text-overflow: arguments

transform()
  -moz-transform: arguments
  -webkit-transform: arguments
  -o-transform: arguments
  -ms-transform: arguments

transform-origin()
  -moz-transform-origin: arguments
  -webkit-transform-origin: arguments
  -o-transform-origin: arguments
  -ms-transform-origin: arguments

transform-style()
  -moz-transform-style: arguments
  -webkit-transform-style: arguments

transition()
  -moz-transition: arguments
  -webkit-transition: arguments
  -o-transition: arguments

transition-delay()
  -moz-transition-delay: arguments
  -webkit-transition-delay: arguments
  -o-transition-delay: arguments

transition-duration()
  -moz-transition-duration: arguments
  -webkit-transition-duration: arguments
  -o-transition-duration: arguments

transition-property()
  -moz-transition-property: arguments
  -webkit-transition-property: arguments
  -o-transition-property: arguments

transition-timing-function()
  -moz-transition-timing-function: arguments
  -webkit-transition-timing-function: arguments
  -o-transition-timing-function: arguments

word-break()
  -epub-word-break: arguments
  -ms-word-break: arguments

word-wrap()
  word-wrap: arguments
  -ms-word-wrap: arguments

writing-mode()
  -epub-writing-mode: arguments
  writing-mode: arguments
  -ms-writing-mode: arguments
  
user-select()
  -webkit-user-select: arguments
  -moz-user-select: arguments
  user-select: arguments